body {
    margin: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pane {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    height: 200px;
    border: 1px solid #eee;
}

#topic-cloud {
    width: 55%;
    background: ghostwhite;
}

#topic-cloud a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
}
#topic-cloud a:hover { text-decoration: underline; }

#topic-details {
    width: 30%;
    background: ghostwhite;
}
#topic-details .no-details { color: cornflowerblue; font-style: italic; }

#topic-details span { font-weight: bold; }

#topic-details h3 { margin-top: 5px; }



.positive { color: green; }
.negative { color: red; }
.neutral { color: grey; }

.size-1 { font-size: 12pt; }
.size-2 { font-size: 15pt; }
.size-3 { font-size: 18pt; }
.size-4 { font-size: 21pt; }
.size-5 { font-size: 24pt; }
.size-6 { font-size: 27pt; }